[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/raghurags
[access "refs/for/refs/*"]
	read = group user/raghurags
	push = group user/raghurags
	label-Code-Review = -2..+2 group user/raghurags
	label-Verified = -1..+1 group user/raghurags
	rebase = group user/raghurags
	removeReviewer = group user/raghurags
	submit = group user/raghurags
[access "refs/heads/*"]
	read = group user/raghurags
	create = group user/raghurags
	push = +force group user/raghurags
	pushMerge = group user/raghurags
[access "refs/tags/*"]
	push = group user/raghurags
	push = +force group user/raghurags
